
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card {
    min-height: 650px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bi-airplane-fill {
    margin: 5px;
}